@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';


.sort-icon {
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.sort-icon.asc {
  transform: rotate(180deg);
}

.table-container {
  position: relative;
  overflow: visible; /* Ensure dropdown is not cut off */
}
