@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';


.sort-icon {
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.sort-icon.asc {
  transform: rotate(180deg);
}

.table-container {
  position: relative;
}


/* Adjust the overall width and padding of the datepicker */
.react-datepicker {
  background-color: #1f2937;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px;
  width: 100%; /* Ensure it takes up the full width of the container */
  max-width: 300px; /* Set a max width to ensure it doesn't overflow */
  box-sizing: border-box;
}

.react-datepicker__header {
  background-color: #111827;
  border-bottom: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.react-datepicker__current-month {
  color: #ffffff;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #d1d5db;
  width: 2.5rem; /* Adjust width for better fit */
  height: 2.5rem; /* Adjust height for better fit */
  line-height: 2.5rem; /* Center text vertically */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #6366f1;
  color: #ffffff;
  border-radius: 50%; /* Make the selected day circular */
}

.react-datepicker__day--disabled {
  color: #6b7280;
}

.react-datepicker__day:hover {
  background-color: #4f46e5;
  color: #ffffff;
  border-radius: 50%;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation {
  top: 10px;
  line-height: 1.7rem;
}

.react-datepicker__navigation-icon::before {
  border-color: #ffffff;
}

